<section id="perfil">
    <div class="row">
        <!--  Charts  -->
        <div class="col-md-6" id="avisos">
            <h3>Loading posts..</h3>
        </div>
        <!-- big chart -->
        <div class="col-md-6" id="usuarios">
            <h3>Loading users..</h3>
        </div>      
    </div>
</section>

<script>
setTimeout(function() { 
    usuarios();
    avisos();
    totalPosts();
    totalUsers();
}, 3000);
</script>