########################
# sails
########################
.sails
.waterline
.rigging
.tmp


########################
# node.js / npm
########################
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

node_modules

npm-debug.log

########################
# misc / editors
########################
*~
*#
.DS_STORE
.netbeans
nbproject
.idea

########################
# Stylus CSS
*.styl

# DUMP
tags.json
post.json
australia.json
brasil.json
uk.json
import.json
canada.json

# TODO's
RoadMap.md

########################
# local config
########################
config/local.js

