########################
# sails
########################
.sails
.waterline
.rigging
.tmp


########################
# node.js / npm
########################
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

node_modules

npm-debug.log


########################
# misc / editors
########################
*~
*#
.DS_STORE
.netbeans
nbproject
.idea

########################
# Stylus CSS
assets/linker/styles/estilos.styl
# TODO's
RoadMap.md
# Copias
views/user/find2.ejs
dump/
post.json
tags.json
user.json
########################
# local config
########################
#config/local.js
