<!-- buscador-->
<script src='https://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.css' rel='stylesheet' />

<section>
  <div id="mapa">
    <br/><img src="/img/load3.gif" alt="Loading" />
  </div>
  <!-- map-->

  <script>
    setTimeout(function() { 
      var map = L.mapbox.map('mapa', 'danielnaranjo.hkk59gkh')
      .setView([parseFloat(miubicacion[0]),parseFloat(miubicacion[1])], 6); 
      console.log(parseFloat(miubicacion[0]),parseFloat(miubicacion[1]));
    }, 5000);
  </script>
  
</section>
