<!-- buscador-->
<script src='https://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.css' rel='stylesheet' />
<section id="perfil" style="margin:0;">
  <div id="mapa">
    <br/> <img src="/img/load3.gif" alt="Loading" />
  </div>
  <!-- map-->

  <script>
    setTimeout(function() { 
      // Hide menu()
      window.onload = showMenu();
      $('footer').hide();

      $('#mapa').css('height',$( window ).height()-100);
      //console.log(miubicacion);
      var map = L.mapbox.map('mapa', 'danielnaranjo.hkk59gkh')
                .setView([parseFloat(getCookie('Lat')),parseFloat(getCookie('Lon'))], 
                6);
      var myLayer = L.mapbox.featureLayer().addTo(map);
      var geoJson = [];

      geoJson.push({
        type: 'Feature',
        geometry: {
          type: 'Point',
          coordinates: [parseFloat(getCookie('Lon')),parseFloat(getCookie('Lat'))]},
          properties: {
            'title': '<%= __('You are here!') %> <br/>', 
            'description': pais+')',
            'marker-color': '#3caee1',
            'marker-symbol': 'star'
        }
      });
      /* */
      //myLayer.setGeoJSON(geoJson);
      // Get from Server
      $.getJSON( "/post/country/"+getCookie('pais')+"?limit=250", function(data) {
          var locacion=[], marcador=[];
          $.each( data, function( key, val ) {
            var locacion = $.trim(val.location);
            // Omito los que NO tengan location
            if(val.location !== "undefined,undefined"){
              //console.log(val.title);
              var marcador = locacion.split(",");
              geoJson.push({
                type: 'Feature',
                geometry: {
                  type: 'Point',
                  coordinates: [parseFloat(marcador[1]),parseFloat(marcador[0])]},
                  properties: {
                    title: '<a href="/post/'+val.id+'">'+val.title+'</a>', 
                    description: val.summary+'<br/><%= __('Location') %>: <a href="/post/city/'+val.city+'">'+val.city+'</a> <a href="/post/country/'+val.country+'">'+val.country+'</a>', 
                    'marker-color': '#f00' 
                  }
                });
              myLayer.setGeoJSON(geoJson);
            }
          });
          console.log(data.length);
      });


      // Listen for individual marker clicks
      myLayer.on('click',function(e) {
          // Force the popup closed.
          e.layer.closePopup();
          var feature = e.layer.feature;
          var info = '<h4>' + feature.properties.title + '</h4>' +
                     '<p>' + feature.properties.description + '</p>';
          document.getElementById('info').innerHTML = info;
      });

      // Clear the tooltip when map is clicked
      //map.on('move',function(e){
      //document.getElementById('info').innerHTML = '<h4><%= __('Click a marker') %></h4>';
      //});
      // zoom exactly to each double-clicked point
      map.on('dblclick', function(e) {
        map.setView(e.latlng, map.getZoom() + 1);
      });

      // Add info panel
      $('section').append('<div id="info"><h4><%= __('Click a marker') %></h4></div>');
    }, 5000);
  </script>
  
</section>
