<section id="perfil">
    <div class="row">
        <!--  Charts  -->
        <div class="col-md-12 text-center" id="aboutmap"></div>
    </div>
    <div class="row text-center">
        <div class="col-md-12 WhatsFB">
            <h1>What is FindBY?</h1>
            <p>
                FindBY helps you find products and/or services <br/>around the world, using your current location. Simple, isn't it?
            </p> 
        </div>
    </div>
    <div class="row text-center WhatsFB">
                <div class="col-md-12">
                    <hr>
                    <br>
                </div>
                <div class="col-md-4">
                    <img src="img/pencil.png" alt="pencil">
                    <h3>Simple</h3>
                    <p>
                        FindBy focus in two basic things: No more typing where you are (Your location) and Your terms search (Categories? No way!). We also speak Spanish, English and others languages.
                    </p>
                </div>
                <div class="col-md-4">
                    <img src="img/flag.png" alt="flag">
                    <h3>Global</h3>
                    <p>
                        We don't believe in borders, that's why FindBY allow see all posts around the world, you only have to search, navigate or explorer your city or town without limits in a real-time map. 
                    </p>
                </div>
                <div class="col-md-4">
                    <img src="img/browser.png" alt="browser">
                    <h3>Fast, Easy and Free</h3>
                    <p>
                        Our priority is bring a product that will be easy to use, fast to any connections and free. We take advantage of using of new technologies and mobile devices to make our lives easier.
                    </p>
                </div>
            </div>

</section>
<script>
$(document).ready(function(e) {
    envelope();
    aboutmap();
});
</script>