<section id="perfil">
    <div class="row">
        <!--  Charts  -->
        <div class="col-md-9">
        	<div>
            <h3>Legal</h3>
        	</div>
            <div>
                <p>FindBy is a private platform (hereinafter also referred to as "Service") that provides a personal space (hereafter, "Profile") through which you can make available to post about located products and/or services. The platform is managed by Lo Ultimo Group, C.A. (hereinafter, "FindBy" or "we").</p>
                <p>These Terms of Use govern the access and use of the Service, whether through the website hosted under the domain names sozialize.me, FindBy.co and others relates (hereinafter "Website") as , if any, of FindBy mobile applications available to users at all times in the "Marketplaces" and / or "App Stores" of mobile terminals, as well as all content to be displayed or made available to users on the Service. Each time you access and / or use the Website or any of the services,  you are stating that you have read and agree to abide by these Terms of Use</p>
                <p>FindBy reserves the right to review these Terms of Use at any time for any reason if required. In this section will report on such changes, if any.</p>
                <p>FindBy recommends you to periodically consult the Terms of Use, as they may be modified. If you do not request to cancel the service, we will assume that you agree with the new conditions of use.</p>
                <p>Access to certain content and use certain services, applications or products can be subject to particular conditions, which, depending on the case, substitute, complete and / or amend these Terms of use FindBy and, in case of contradiction, then the terms of the particular conditions on those stipulated in the Terms of Use.</p>
                <p>The collection and processing of your personal data as well as the exercise of your rights to such data shall be governed by these Terms of Use and Privacy Policy and Personal Data Protection has already accepted all the social networks with which you register in our service.</p>
                <p>Notably FindBy only collects and displays that information with our users and users of other social networks have been discharged on these networks: Facebook, Twitter, Instagram, Google+ ...</p>
                <h4>SERVICE ACCESS</h4>
                <p>Any individual or business which meets the standards of service of the social networks he (it) adds to FindBy. It is not required to determine whether the data FindBy users conform to reality. FindBy gives users rights to the platform so they can link their profiles on other social networks like Facebook or Twitter among many others, and FindBy limited to perform that action, but no need or obligation to test whether ages or identities are which states that the user is.</p>
                <h4>ADVERTISING</h4>
                <p>You know and accept that there may be advertising on the Service.</p>
                <h4>NOTICES</h4>
                <p>FindBy may make available to you a notification service to your inbox so you know the latest news and movements that are in your profile. This notification service will not affect FindBy communications can make to:
                <ul>
                    <li>Retrieve your password, if forgotten.</li>
                    <li>Change your email account.</li>
                    <li>You acknowledge and agree that these types of communications and any other of a similar nature are necessary and therefore are part of the Service.</li>
                    <li>You can send via the website the following types of invitations and requests depending on whether the recipient is registered or not on FindBy’s platform.</li>
                    <li>Invitations to unregistered users on the platform: a user can send invitations to "register" to the people you want, offering them the possibility to register with the Service and also to be part of its network of FindBy</li>
                    <li>FindBy does not store the data signals in the invitation and especially the email or the phone number of your contact. It will be you the one responding against such contact if there were any claim against our platform.</li>
                    <li>When you invite others to join FindBy, you will answer in front of the recipient of your invitation for any claim that it could make a FindBy, exempting the latter from any liability that may arise from such an invitation.</li>
                </ul>
                <p>Last review: <em>April 17, 2014</em>. <a href="/about/privacy">Privacy</a></p>
            </div>
        </div>  
    </div>
    <div class="row">
    	<div class="col-md-9">
    		<div>
    			<h3>Condiciones de uso</h3>
    		</div>
    		<div>
                <p>FindBY es una plataforma privada (en adelante, también denominada "Servicio") que facilita un espacio personal (en adelante, "Perfil") a través del que puedes publicar productos y/o servicios que permitan interactuar contigo y tú con ellos. Permite colocar anuncios, ofertar servicios a través de servicios de localización. La plataforma FindBy es administrada por Daniel Naranjo Serrano (en adelante, "FindBy" o "nosotros").</p>
                <p>Estas Condiciones de uso regulan el acceso y la utilización del Servicio, tanto a través del sitio web alojado bajo los nombres de dominio FindBy.co y sus derivados regionales (en adelante, "sitio web") como, en su caso, de las aplicaciones móviles que FindBy ponga a disposición de los usuarios en cada momento en los "Marketplaces" y/o "App Stores" de terminales móviles, así como de todos los contenidos que se muestren o pongan a disposición de los usuarios en el Servicio. Cada vez que accedas y/o utilices el sitio web o cualquiera de los servicios de FindBy, estás manifestando que has leído y aceptas cumplir con estas Condiciones de Uso.</p>
                <p>FindBy se reserva el derecho de revisar las presentes Condiciones de uso en cualquier momento por cualquier razón que lo hiciera necesario. Informaremos en esta misma sección sobre esos dichos cambios, si los hubiere.</p>
                <p>FindBy te recomienda que consultes periódicamente las Condiciones de uso, ya que pueden sufrir modificaciones. En caso de que no solicites la baja del servicio, entenderemos que estás de acuerdo con las nuevas condiciones de uso.</p>
                <p>El acceso a ciertos contenidos y la utilización de algunos servicios, aplicaciones o productos pueden encontrarse sometidos a determinadas condiciones particulares, que, según los casos, sustituirán, completarán y/o modificarán las presentes Condiciones de uso de FindBy y, en caso de contradicción, prevalecerán los términos de las condiciones particulares sobre los estipulados en las Condiciones de uso.</p>
                <p>La recogida y tratamiento de tus datos personales así como el ejercicio de tus derechos sobre dichos datos, se regirán por estas Condiciones de uso y la Política de Privacidad y Protección de Datos Personales que ya has aceptado con todas aquellas redes sociales con las que te registras en nuestro servicio.</p>
                <p>Cabe destacar que FindBy únicamente recoge y muestra aquélla información con la que nuestros usuarios y los usuarios de otras redes sociales se han dado de alta en dichas redes: Facebook, Twitter, Instagram, Google+…</p>
                <h4>Acceso al servicio</h4>
                <p>Podrán acceder a nuestros servicios todas aquellas personas físicas o jurídicas que cumplan con las normativas de acceso al servicio de las redes sociales con las que se registran en FindBy. No es obligación de FindBy constatar si los datos de los usuarios se ajustan a la realidad. Los usuarios de FindBy otorgan derechos a la plataforma para que puedan vincular sus perfiles en otras redes sociales como Facebook o Twitter entre muchas otras, y FindBy se limita a realizar dicha acción, pero sin necesidad ni obligación alguna por contrastar si las edades o identidades son las que el usuario afirma que son.</p>
                <h4>Publicidad</h4>
                <p>Conoces y aceptas que podría haber publicidad en el Servicio y que, por tanto, desde tu Perfil podrás acceder a publicidad que FindBy y/o terceras empresas y profesionales contraten con la plataforma.</p>
                <h4>Notificaciones</h4>
                <p>Este servicio de notificaciones no afectará a las comunicaciones que FindBy pueda hacerte para:
                <ul>
                    <li>Recuperar tu contraseña, en el caso que haya sido olvidada.</li>
                    <li>Cambiar tu cuenta de correo electrónico.</li>
                    <li>Conoces y aceptas que estos tipos de comunicaciones y cualesquiera otras de naturaleza similar son necesarias y, por tanto, forman parte del Servicio.</li>
                    <li>Podrás enviar a través del sitio web los siguientes tipos de invitaciones y peticiones en función de si el destinatario se encuentra o no registrado en la plataforma FindBy.</li>
                    <li>Invitaciones a usuarios no registrados en la plataforma FindBy..</li>
                    <li>FindBy no almacenará los datos adicionales los publicados en el sitio web. Serás tú quien responda frente a dicho contacto si hubiere cualquier tipo de reclamación contra nuestra plataforma.</li>
                    <li>Cuando invites a otros a unirse a FindBy, tú responderás frente al destinatario de tu invitación por cualquier reclamación que éste pudiera efectuar a FindBy, exonerando a esta última de toda responsabilidad que pudiera derivarse de dicha invitación.</li>
                </ul>
                <p>Última revisión: <em>17 de abril de 2014</em>. <a href="/about/privacy">Privacidad</a></p>
    		</div>
    	</div>
    </div>
</section>
<script>
$(document).ready(function(e) {
    envelope();
});
</script>