<section id="perfil">
    <div class="row">
        <!--  Charts  -->
        <div class="col-md-9">
        	<div>
            <h3>Privacy Policy</h3>
        	</div>
            <div>
            	<p>When you register with FindBy, you are creating your own profile with the intention of showing your unique social identity, based on all those social networks with which you register on the platform. Those who visit you can see who you are in each and every one of the post that you published.</p>
            	<h4>WHAT INFORMATION DO WE COLLECT AND STORE?</h4>
            	<p>FindBy requests your name and e-mail to access the platform. We request access to your social networks to facilitate your access to the platform whenever need it.</p>
            	<p>The rest of data you register with on the platform, that is, the rest of your social networks, is simply displayed on FindBy, but it’s not stored on the platform, but on your different social networks. We just show it to you and make it visible for whoever visits your FindBy profile.</p>
            	<p>FindBy collects and processes your data to identify you as a user of the Service and to provide you with access to the services, features and applications that we offer you. Before you start using any new services or functionality on FindBy, remember to read our Terms of Use.</p>
            	<p>By registering, you are giving us permission to send you information about FindBy through the platform or e-mails to your account on both changes and updates related to FindBy as on activities, products, services, offers, special promotions, etc. corresponding to the sectors of the Internet, information technology and social networks in general. This information may be segmented based on the information you provide (posts, location, etc.), in order to give you a customized and relevant information.</p>
            	<p>Remember that you can oppose at any time to receive communications from FindBy for marketing and promotional purposes, including by electronic means, through contacting <span class="envelope"></span>.</p><p>FindBy is concerned with ensuring the security and confidentiality of your data. Therefore, we have taken numerous safety measures and technical means to prevent loss, misuse or access without your permission.</p>
            	<p>As a user of the service you are entitled to access your personal data to know how we treat them and for what purpose and tell us if you want us to use your data for a particular activity. Plus, you can correct any errors in your data if you see incorrect or accurate and you can even ask us to cancel if you want to stop being one of our users. For all this you can contact through <span class="envelope"></span>.</p>
            	<p>FindBy is in beta (testing) and is run by Lo Ultimo Group, C.A. RIF J-31592688-1, located in Porlamar, Venezuela. We hope to incorporate (.Inc) ASAP and grant even more warranties regarding your privacy.</p>
            	<h4>COOKIES</h4>
            	<p>Like many websites, we use "cookie" technology to collect further information about using the web to improve our services. A cookie is a small data file that is transferred to your computer's hard drive. FindBy may require the use of both session and persistent cookies, to better understand how you interact with our services and other monitoring purposes. The vast majority of web browsers automatically accept cookies. You can disable cookies, but be warned that some services might not run you in the most optimal.</p>
            	<h4>CHANGES TO THE PRIVACY POLICY</h4>
            	<p>Like the Terms of Use, the Privacy Policy may be modified by FindBy. We recommend you to visit this section periodically to be aware of these changes. Your use of the platform FindBy implies that you agree with these changes that may occur in terms of privacy.</p>
            	<p>Last review: <em>April 17, 2014</em>. <a href="/about/legal">Terms of use</a></p>
            </div>
        </div>  
    </div>
    <div class="row">
    	<div class="col-md-9">
    		<div>
    			<h3>Condiciones de Privacidad</h3>
    		</div>
    		<div>
				<p>Cuando te registras en FindBY, estás creando tu propio perfil con la intención de mostrar tu identidad, basada en información básica personal como el nombre y correo electrónico. Quienes te visiten podrán ver quién eres y los avisos publicados de productos y/o servicios con tu nombre.</p>
				<h4>¿QUÉ INFORMACIÓN RECOPILAMOS Y ALMACENAMOS?</h4>
				<p>FindBY solicita tu nombre y e-mail para poder acceder a la plataforma. Adicionalmente, solicitamos acceso a tus redes sociales (opcional) para otorgarte para facilitarte el acceso a la plataforma cada vez que lo precises.</p>
				<p>El resto de información con la que te registras en la plataforma, esto es, el resto de tus redes sociales, depende de ti exclusivamente y FindBY simplemente mostrará aquéllas con las que te registres y no será almacenada por nosotros, sino que recopilaremos la información a mostrar de cada una de las redes sociales con las que te registres.</p>
				<p>FindBY recoge y trata tus datos para identificarte como usuario del Servicio y para darte acceso a los servicios, funcionalidades y aplicaciones que ponemos a tu disposición. Antes de empezar a usar cualquier nuevo servicio o funcionalidad de FindBY, recuerda leer en nuestras Condiciones de Uso.</p>
				<p>Al registrarte, nos estás dando permiso para enviarte información sobre FindBY a través de la propia plataforma, mensajes que enviemos por medios electrónicos a tu cuenta e-mail tanto sobre cambios y actualizaciones relacionadas con FindBY como sobre actividades, productos, servicios, ofertas, promociones especiales, etc. correspondientes a los sectores de Internet, las tecnologías de la información y las redes sociales en general. Esta información podrá encontrarse segmentada en función de la información que nos proporciones (localización, publicaciones, entre otras), con el objetivo de darte un servicio personalizado e información relevante.</p>
				<p>Recuerda que puedes oponerte en cualquier momento a recibir comunicaciones de FindBY para fines comerciales y promocionales, incluyendo por medios electrónicos, contactándonos a través de <span class="envelope"></span>.</p>
				<p>FindBY se preocupa por garantizar la seguridad y confidencialidad de tus datos. Por eso, hemos adoptado numerosas medidas de seguridad y medios técnicos para evitar su pérdida, mal uso o su acceso sin tu autorización.</p>
				<p>Como usuario del Servicio tienes derecho a acceder a tus datos personales para saber cómo los tratamos y con qué finalidad y decirnos si no quieres que usemos tus datos para una actividad concreta. Además, podrás rectificar cualquier error en tus datos si ves que no son correctos o exactos e incluso podrás pedirnos que los cancelemos si quieres dejar de ser uno de nuestros usuarios.</p>
				<p>Para todo ello puedes contactar con FindBY a través de <span class="envelope"></span>. FindBY está en fase BETA (pruebas) y es propiedad exclusiva de Lo Ultimo Group, C.A. RIF J-31592688-1, residenciada en Porlamar, Venezuela. Esperamos constituirnos como persona jurídica a nivel internacional en breve y otorgarte más garantías con respecto a tu privacidad, puesto que tan pronto como seamos empresa global, contactaremos con las diferentes agencias de protección de datos para que ellos, al igual que nosotros, velen por el cumplimiento de las leyes sobre privacidad y protección de datos.</p>
				<h4>COOKIES</h4>
				<p>Al igual que muchos sitios webs, empleamos la tecnología "cookie" para reunir una mayor información acerca del uso de la web para poder mejorar nuestros servicios. Una cookie es un pequeño archivo de información que se transfiere al disco duro de tu ordenador. FindBY puede precisar la utilización tanto de las cookies de la sesión como las persistentes, para entender mejor cómo interactúas con nuestros servicios y con otros fines de monitorización. La gran mayoría de los navegadores de internet aceptan cookies automáticamente. Puedes desautorizar las cookies, pero te advertimos que algunos de los servicios podrían no funcionarte de la manera más óptima.</p>
				<h4>CAMBIOS EN LA POLÍTICA DE PRIVACIDAD</h4>
				<p>Al igual que las Condiciones de Uso, la política de privacidad podrá ser modificada por FindBY. Te sugerimos que visites esta sección de manera periódica para estar al tanto de esos posibles cambios. Tu utilización de la plataforma de FindBY implica que estás de acuerdo con estos cambios que pudieran producirse en términos de privacidad.</p>
				<p>Última revisión: <em>17 de abril de 2014</em>. <a href="/about/legal">Condiciones de uso</a></p>
    		</div>
    	</div>
    </div>
</section>
<script>
$(document).ready(function(e) {
    envelope();
});
</script>